@charset "UTF-8";
/* CSS Document */

#menu {
		width: 100%;
		background-color:#f4f4f4;
		background-size:cover;
		font-family:Arial, Helvetica, sans-serif, "微軟正黑體";
	}
#menu .main{
	width:1220px;
	margin:auto;
	height:100%;
	padding:90px 0 30px 0;
	font-size:14px;
	line-height:22px;
	color:#555;
	position:relative;
}
#menu .main>.title {
	/*border-bottom:#a46c25 1px solid; */
	width:100%;
	height:50px;
	margin-bottom:10px;
}
#menu .main>.title img{
	max-width: 100%;
}


#menu .menulist{
	background:url(../images/menu_listbar.png) no-repeat;
	background-position:center center;
	width:100%;
	height:50px;
	color:#555555;
	padding-left:80px;
	}
#menu .menulist ul {
	height:48px;
	text-align: center;
	margin:0 auto;
	}
#menu .menulist ul li{
	float:left;
	display:block;
	margin:0;
	list-style:none;
	margin-top:2px;
	padding:13px 0 14px 0;
	}
#menu .menulist ul li:hover{
	float:left;
	display:block;
	margin:0;
	list-style:none;
	margin-top:2px;
	padding:13px 0 14px 0;
	background-color:#efefef;

	}
#menu .menulist ul li a {
	display:block;
	height: 19px;
	font-size: 15px;
	line-height: 19px;
	color: #555;
	text-decoration: none;
	text-align:center;
	border-right: solid 1px #A46C25;
	padding:0px 10px;
}
#menu .menulist ul li:LAST-CHILD a {
	border-right:NONE;
}
#menu .menulist ul li a:hover {
	color:#A46C25;
}
#menu .menuhead{
	background: url(../images/menu_titlebg.png) no-repeat;
	background-position:center bottom;
	padding:10px 0 50px 20px;
	width:97%;
	height:30px;
	margin:10px auto;
}
#menu .menuhead h2{
	color:#a46c25;
	background:url(../images/menu_titleiocn.png) no-repeat;
	padding-left:15px;
	line-height:30px;
	font-size:25px;
	float:left;
}
#menu .menuhead h3{
	color:#555555;
	padding-left:20px;
	line-height:30px;
	font-size:13px;
	float:left;
}
#menu .content {
	width:1110px;
	margin:0 auto 30px auto;
}
#menu .content .dish {
	width: 308px;
	display: inline-block;
	margin: 10px 25px;
	vertical-align: top;
	text-align:left;
}

#menu .content .dish .photo {
	display:block;
	width:295px;
	height:210px;
	border:3px solid #ffffff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(148,148,148,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(148,148,148,1);
	box-shadow: 0px 0px 5px 0px rgba(148,148,148,1);
	margin:0 auto 12px auto;
	text-align:center;
	overflow:hidden;
	position:relative;
}
#menu .content .dish .photo img {
	height:210px;
	width:295px;
	z-index:2;
	position:absolute;
	top:0;
	left:0;
}
#menu .content .dish .photo a .zoom {
	width:295px;
	height:50px;
    position:absolute;
	bottom:0;
	left:0;
	margin-top:0px;
	display:block;
	z-index:20;
	background-image:url(../images/icon_zoom.png);
	background-repeat:no-repeat;
	background-position:center right;

	opacity: 0;
    transition: all .5s;
}
#menu .content .dish .photo a:hover .zoom{
	width:295px;
	height:50px;
    position:absolute;
	bottom:0;
	left:0;
	margin-top:0px;
	display:block;
	z-index:20;
	background-image:url(../images/icon_zoom.png);
	background-repeat:no-repeat;
	background-position:center right;

	opacity: 1;
    transition: all .5s;
}
#menu .content .dish .name {
	height:24px;
	padding-right:10px;
}
#menu .content .dish .name h5 a {
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: #A46C23;
	float: left;
}
#menu .content .dish .name h6 {
	float: right;
	width: 25px;
}
#menu .content .dish .name h7 {
	float: right;
	width: 25px;
}
#menu .content .dish .lang {
	font-size: 12px;
	line-height:18px;
	color: #757575;
	text-align:left;
	display:block;
	padding:0;
	margin:0;
}
#menu .content .dish .price {
	font-size: 12px;
	line-height: 18px;
	color: #757575;
}
.note_size{ font-size:15px;}

/*社群內頁設定*/
#social_iconA {
	width:162px;
	height:122px;
	padding:30px 0 0 0 ;
	display:block;
	margin-bottom:25px;

}
#social_iconA .fb a {
	background:url(../images/facebook_icon.png) no-repeat;
	display: block;
	height: 30px;
	width: 160px;
	margin-bottom: 10px;
	text-indent: -9999px;
}
#social_iconA .fb2 a {
	background:url(../images/facebook_icon145.png) no-repeat;
	display: block;
	height: 30px;
	width: 145px;
	margin-bottom: 10px;
	text-indent: -9999px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*新增的*/

	@media (max-width: 767px) {
#menu {
		width: 100% !important;
		background-color:#f4f4f4;
		background-size:cover;
	}
#menu .main{
	width:100%;
	margin:0;
	height:100%;
	padding:90px 0 30px 0;
}
#menu .content {
	width:95%;
	margin:0 auto 30px auto;
	text-align:center;
}


#menu .menulist{
	background:none;
	background-color:#fff;
	border-top:#A46D06 1px solid;
	border-bottom:#A46D06 1px solid;
	background-position:center center;
	width:100%;
	height:100%;
	color:#555555;
	text-align:center;
	padding-left:0;
	}
#menu .menulist ul li:hover{
	background-color: #fff;
}
#menu .content .dish {
	/*width:70%;*/
	display:inline-block;
	margin: 10px auto;

}

#menu .main >.title {
	/*border-bottom:#a46c25 1px solid; */
	padding: 10px;
}

/*
#menu .content .dish .photo {
	display:block;
	width:80%;
	height:210px;
	border:3px solid #ffffff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(148,148,148,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(148,148,148,1);
	box-shadow: 0px 0px 5px 0px rgba(148,148,148,1);
	margin:0 auto 12px auto;
	text-align:center;

	overflow:hidden;
	position:relative;
}
#menu .content .dish .photo img {
	height:100%;
	width:100%;
	z-index:2;
	position:absolute;
	background-size:cover;
	top:0;
	left:0;
}
#menu .content .dish .photo a .zoom {
	width:100%;
	height:50px;
    position:absolute;
	bottom:0;
	right:0;
	margin-top:0px;
	display:block;
	z-index:20;
	background-image:url(../images/icon_zoom.png);
	background-repeat:no-repeat;
	background-position:center  right;

	opacity: 0;
    transition: all .5s;
}
#menu .content .dish .photo a:hover .zoom{
	width:100%;
	height:50px;
    position:absolute;
	bottom:0;
	left:0;
	margin-top:0px;
	display:block;
	z-index:20;
	background-image:url(../images/icon_zoom.png);
	background-repeat:no-repeat;
	background-position:center right;

	opacity: 1;
    transition: all .5s;
}

*/

}
